<% include partials/header %>
<% include partials/navbar1 %>

<div>

    <h1 class="card_margin text_allign">Upcoming EVENTS</h1>
    <% events.forEach(function(event) { %>
    <div class="card container card_margin">
        <div class="card-body">
            <h5 class="card-title"><%= event.afname %></h5>
            <p class="card-text"><%= event.eventdescription %></p>
            <p class="card-text">Contact:<%= event.eventstaff.sfname + event.eventstaff.slname %></p>
            <p class="card-text"><%= event.eventstaff.semail %></p>
            <p class="card-text"><%= event.eventstaff.scontactnum %></p>
            <a href="/admin/events/<%= event._id %>" class="btn btn-primary">Delete</a>

        </div>
    </div>

    <% }); %>

</div>

<% include partials/footer %>