<% include partials/header %>
<% include partials/navbar %>

<div>

    <h1 class="card_margin text_allign">Upcoming EVENTS</h1>
   <% events.forEach(function(event) { %> 
     <div class="card container card_margin" >
        <div class="card-body">
             <h5 class="card-title"><%= event.eventname %></h5> 
                <p class="card-text"><%= event.eventdescription %></p> 
                    <p class="card-text">Contact:<%= event.eventstaff.sfname + event.eventstaff.slname %></p>
                    <p class="card-text"><%= event.eventstaff.semail %></p>
                        <p class="card-text"><%= event.eventstaff.scontactnum %></p>
                        
                        <!-- write if condition, to display delete icon only in admin page -->
                        <!-- <button class="delete_btn"><i class="fa fa-trash"></i></button> -->
                        
                
        </div>
    </div>
    <% }); %> 

</div> 
<% include partials/footer %>     
