<% include partials/header %>
<% include partials/navbar %>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                        <div class="card" style="margin-top: 105px">
                            <div class="card-body">
                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img class="d-block w-10" src="<%= paintings.paintimage %>" onerror="this.src='https://via.placeholder.com/450;'"
                                            alt="First slide">
                                       </div>
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
	            </div>
	            <div class="col align-self-center">
                    <div class="card" style="margin-top: 105px">
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">Painting Name</th>
                                            <td>
                                                <%= paintings.paintname %>
                                            </td>
                                    </tr> 
                                    
                                    <tr> 
                                        <th scope="row">Description</th>
                                            <td>
                                                <%= paintings.paintdesc %>
                                            </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Artist Name</th>
                                            <td>
                                                <%= paintings.paintartist.afname %>
                                            </td>
                                    </tr>    
                                    
                                    <tr>
                                        <th scope="row">Painting Year</th>
                                        <td>
                                            <%= paintings.paintyear %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Painting Type</th>
                                        <td>
                                            <%= paintings.painttype %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Cost</th>
                                        <td>
                                            <%= paintings.paintcost %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Size</th>
                                        <td>
                                            <%= paintings.paintsize %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <a class="btn btn-secondary btn-block btn-raised profile-align" data-toggle="modal" data-target="#contactArtist">Buy Now</a>
                        </div>
                    
                    
                    
<% include partials/footer %>
